In [1]:
from path import Path
import pandas as pd
import bjorn_support as bs
import subprocess
import shlex
import mutations as bm

In [2]:
date = '13-01-2021'

In [3]:
out_dir = Path(f'/home/al/analysis/alab_mutations_{date}')
# Path.mkdir(out_dir)

In [4]:
ref_fp = Path('/home/al/data/hcov19/NC045512.fasta')
# bs.align_fasta_reference(fa_fp, num_cpus=25, ref_fp)

In [5]:
in_dir = Path('/home/al/code/HCoV-19-Genomics/consensus_sequences/')
# fa_fp = bs.concat_fasta(in_dir, out_dir/'seqs')

In [6]:
msa_fp = '/home/al/analysis/alab_mutations_01-01-2020/seqs_aligned.fa'
meta_fp = '/home/al/code/HCoV-19-Genomics/metadata.csv'

In [7]:
# seqsdf = bm.identify_replacements_per_sample(msa_fp, meta_fp, bm.GENE2POS)
# seqsdf

In [8]:
# subs = bm.identify_replacements(msa_fp, meta_fp, location='Jordan')

In [9]:
# subs.sort_values('num_samples', ascending=False).to_csv(out_dir/'jordan_substitutions_01-01-2020.csv', index=False)

In [10]:
# dels = bm.identify_deletions(msa_fp, meta_fp, location='Jordan')

In [11]:
# dels.sort_values('num_samples', ascending=False).to_csv(out_dir/'jordan_deletions_01-01-2020.csv', index=False)

In [12]:
gisaid_meta = Path('/home/al/analysis/gisaid/metadata_2021-01-13_09-12.tsv.gz')
gisaid_msa = Path('/home/al/analysis/gisaid/sequences_2021-01-13_08-22_aligned.fasta')

In [13]:
gisaid_subs = bm.identify_replacements(gisaid_msa, gisaid_meta, data_src='gisaid')

Creating a dataframe...
Loading Alignment file at: /home/al/analysis/gisaid/sequences_2021-01-13_08-22_aligned.fasta
Initial cleaning...
Identifying mutations...
Mapping Genes to mutations...
Compute codon numbers...
Fetch reference codon...
Fetch alternative codon...
Map amino acids...
Fuse with metadata...

/home/al/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3418: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [14]:
gisaid_subs.to_csv(out_dir/f'gisaid_substitutions_agg_{date}.csv', index=False, compression='gzip')

In [ ]:
# date = '01-01-2021'
# gisaid_subs_long.to_csv(out_dir/f'gisaid_substitutions_{date}.csv', index=False)

In [16]:
gisaid_subs = pd.read_csv(out_dir/f'gisaid_substitutions_agg_{date}.csv', compression='gzip')

In [18]:
gisaid_subs = (gisaid_subs.rename(columns={'num_samples': 'gisaid_num_samples', 'first_detected': 'gisaid_1st_detected', 'last_detected': 'gisaid_last_detected',
                                    'num_locations': 'gisaid_num_locations', 'locations': 'gisaid_locations', 'location_counts': 'gisaid_location_counts',
                                   'num_divisions': 'gisaid_num_states','divisions': 'gisaid_states', 'division_counts': 'gisaid_state_counts',
                                   'num_countries': 'gisaid_num_countries', 'countries': 'gisaid_countries', 'country_counts': 'gisaid_country_counts'})
               .drop(columns=['ref_aa', 'pos']))

In [24]:
old_subs = pd.read_csv('/home/al/code/HCoV-19-Genomics/variants/substitutions_01-01-2021.csv')
old_subs.head()

,gene,ref_codon,alt_codon,pos,ref_aa,codon_num,alt_aa,num_samples,first_detected,last_detected,...,gisaid_last_detected,gisaid_num_locations,gisaid_locations,gisaid_location_counts,gisaid_num_states,gisaid_states,gisaid_state_counts,gisaid_num_countries,gisaid_countries,gisaid_country_counts
0,S,GAT,GGT,23403,D,614,G,3384,2020-03-04,2020-12-29,...,2020-12-31,2507.0,"[""'s-Gravenwezel"", 'A Coruna', 'Aarschot', 'Aa...","[1, 15, 3, 1, 7, 2, 8, 1, 1, 10, 1, 1, 1, 2, 1...",1043.0,"['Aalst', 'Aargau', 'Abruzzo', 'Abu Dhabi', 'A...","[5, 278, 107, 831, 17, 1, 2, 1, 1, 29, 11, 50,...",129.0,"['Algeria', 'Andorra', 'Argentina', 'Armenia',...","[3, 1, 50, 1, 9, 15065, 692, 126, 507, 8, 2770..."
1,ORF1ab,CTA,TTA,14408,L,4715,L,3384,2020-03-04,2020-12-29,...,2020-12-31,2489.0,"[""'s-Gravenwezel"", 'A Coruna', 'Aarschot', 'Aa...","[1, 15, 3, 1, 6, 2, 8, 1, 10, 1, 1, 1, 2, 12, ...",1028.0,"['Aalst', 'Aargau', 'Abruzzo', 'Abu Dhabi', 'A...","[5, 278, 85, 805, 17, 1, 2, 1, 1, 29, 11, 50, ...",128.0,"['Algeria', 'Andorra', 'Argentina', 'Armenia',...","[3, 1, 48, 1, 9, 15027, 688, 81, 486, 8, 2769,..."
2,ORF1ab,TTC,TTT,3037,F,924,F,3375,2020-03-04,2020-12-29,...,2020-12-31,2494.0,"[""'s-Gravenwezel"", 'A Coruna', 'Aarschot', 'Aa...","[1, 15, 3, 1, 7, 2, 8, 1, 10, 1, 1, 1, 2, 12, ...",1030.0,"['Aalst', 'Aargau', 'Abruzzo', 'Abu Dhabi', 'A...","[5, 267, 107, 774, 17, 1, 2, 1, 1, 29, 11, 50,...",129.0,"['Algeria', 'Andorra', 'Argentina', 'Armenia',...","[3, 1, 50, 1, 9, 15053, 679, 124, 485, 6, 2770..."
3,5UTR,CGT,TGT,241,R,81,C,3348,2020-03-04,2020-12-29,...,2020-12-31,2475.0,"[""'s-Gravenwezel"", 'A Coruna', 'Aarschot', 'Aa...","[1, 15, 3, 1, 7, 2, 8, 1, 10, 1, 1, 1, 2, 10, ...",1024.0,"['Aalst', 'Aargau', 'Abruzzo', 'Abu Dhabi', 'A...","[5, 275, 104, 835, 17, 1, 2, 1, 29, 1, 11, 50,...",128.0,"['Algeria', 'Argentina', 'Armenia', 'Aruba', '...","[3, 50, 1, 9, 13414, 688, 124, 501, 8, 2764, 4..."
4,N,TCA,TTA,28854,S,194,L,1654,2020-03-23,2020-12-17,...,2020-12-31,323.0,"['Ahmedabad', 'Alachua County', 'Alameda Count...","[120, 5, 163, 13, 4, 20, 1, 1, 3, 1, 1, 1, 1, ...",300.0,"['Aargau', 'Abu Dhabi', 'Agder', 'Aguascalient...","[13, 13, 10, 4, 1, 3, 7, 52, 1, 4, 4, 1, 4, 2,...",68.0,"['Aruba', 'Australia', 'Austria', 'Bahrain', '...","[4, 125, 1, 3, 33, 3, 36, 271, 2, 17, 7, 3, 1,..."

In [27]:
subs = pd.read_csv(out_dir/f'alab_substitutions_wide_{date}.csv')
subs.sort_values('num_samples', ascending=False)

,gene,ref_codon,alt_codon,pos,ref_aa,codon_num,alt_aa,num_samples,first_detected,last_detected,location_counts,samples,locations
0,S,GAT,GGT,23403,D,614,G,3384,2020-03-04,2020-12-29,"432,41,57,2,4,1,1,1,192,2,1,8,32,125,1,4,2,3,1...","Consensus_MG0987,Consensus_PC00101P_threshold_...","Jordan/Amman,Jordan/Aqaba,Jordan/Irbid,Jordan/..."
1,ORF1ab,CTA,TTA,14408,L,4715,L,3384,2020-03-04,2020-12-29,"432,41,57,2,4,1,1,1,192,2,1,8,32,125,1,4,2,3,1...","Consensus_MG0987,Consensus_PC00101P_threshold_...","Jordan/Amman,Jordan/Aqaba,Jordan/Irbid,Jordan/..."
2,ORF1ab,TTC,TTT,3037,F,924,F,3375,2020-03-04,2020-12-29,"432,41,57,2,4,1,1,1,191,2,1,8,32,125,1,4,2,3,1...","Consensus_MG0987,Consensus_PC00101P_threshold_...","Jordan/Amman,Jordan/Aqaba,Jordan/Irbid,Jordan/..."
3,5UTR,CGT,TGT,241,R,81,C,3348,2020-03-04,2020-12-29,"431,41,57,2,4,1,1,1,191,2,1,8,32,125,1,4,2,3,1...","Consensus_MG0987,Consensus_PC00101P_threshold_...","Jordan/Amman,Jordan/Aqaba,Jordan/Irbid,Jordan/..."
4,N,TCA,TTA,28854,S,194,L,1654,2020-03-23,2020-12-17,"52,2,11,2,1,1,1,162,1,1,70,1,2,2,2,1,1342","hCoV-19/USA/SEARCH-0176-SAN/2020,hCoV-19/USA/S...","Jordan/Amman,Jordan/Aqaba,Jordan/Irbid,Jordan/..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2938,S,GAC,CAC,24914,D,1118,H,1,2020-12-29,2020-12-29,2,hCoV-19/USA/SEARCH-5574-SAN/2020,USA/California/San Diego
2937,M,GCT,GCC,26816,A,98,A,1,2020-10-05,2020-10-05,1,hCoV-19/JOR/SEARCH-4973-JOR/2020,Jordan/Amman
2936,E,GAA,GAG,26265,E,7,E,1,2020-10-19,2020-10-19,1,hCoV-19/USA/SEARCH-4295-SBD/2020,USA/California/San Bernadino
2935,S,CCT,TCT,21638,P,26,S,1,2020-12-14,2020-12-14,1,hCoV-19/USA/SEARCH-5363-SAN/2020,USA/California/San Diego
4418,ORF1ab,TGA,TTA,20853,_,6863,L,1,2020-09-04,2020-09-04,1,hCoV-19/USA/SEARCH-3054-SAN/2020,USA/California/San Diego

In [28]:
# subs = pd.read_csv(out_dir/'substitutions_aggregated.csv')
all_subs = pd.merge(subs, gisaid_subs, on=['gene', 'codon_num', 'alt_aa'], how='left').drop_duplicates(subset=['gene', 'codon_num', 'alt_aa'])

In [29]:
cols = ['gene', 'ref_codon', 'alt_codon', 'pos', 'ref_aa', 'codon_num',
       'alt_aa', 'num_samples', 'first_detected', 'last_detected', 'gisaid_num_samples',
        'locations', 'location_counts', 'samples', 
       'gisaid_1st_detected', 'gisaid_last_detected', 'gisaid_num_locations',
       'gisaid_locations', 'gisaid_location_counts', 'gisaid_num_states', 
       'gisaid_states', 'gisaid_state_counts',
       'gisaid_num_countries', 'gisaid_countries', 'gisaid_country_counts']
# all_subs[cols].sort_values('num_samples', ascending=False).to_csv(out_dir/f'jordan_substitutions_{date}.csv', index=False)

In [32]:
all_subs[cols].sort_values('num_samples', ascending=False).to_csv(out_dir/f'alab_substitutions_{date}.csv', index=False)

In [33]:
all_subs[cols]

,gene,ref_codon,alt_codon,pos,ref_aa,codon_num,alt_aa,num_samples,first_detected,last_detected,...,gisaid_last_detected,gisaid_num_locations,gisaid_locations,gisaid_location_counts,gisaid_num_states,gisaid_states,gisaid_state_counts,gisaid_num_countries,gisaid_countries,gisaid_country_counts
0,S,GAT,GGT,23403,D,614,G,3384,2020-03-04,2020-12-29,...,2021-01-11,2739.0,"'s-Gravenwezel,A Coruna,Aarschot,Aartselaar,Ab...","1,15,3,1,7,2,8,1,1,1,10,1,1,1,2,12,8,196,1,1,1...",1075.0,"Aalst,Aargau,Abruzzo,Abu Dhabi,Abuja,Aceh,Acre...","5,387,110,831,17,2,1,1,2,1,1,44,11,50,1,18,2,3...",131.0,"Algeria,Andorra,Antigua and Barbuda,Argentina,...","17,1,1,472,9,15066,692,126,686,7,2777,4,8,30,3..."
2,ORF1ab,CTA,TTA,14408,L,4715,L,3384,2020-03-04,2020-12-29,...,2021-01-11,2718.0,"'s-Gravenwezel,A Coruna,Aarschot,Aartselaar,Ab...","1,15,3,1,6,2,8,1,1,10,1,1,1,2,12,8,193,1,1,1,3...",1058.0,"Aalst,Aargau,Abruzzo,Abu Dhabi,Abuja,Aceh,Acre...","5,393,88,805,17,2,1,1,2,1,1,44,11,50,1,18,1,30...",130.0,"Algeria,Andorra,Antigua and Barbuda,Argentina,...","17,1,1,467,9,15031,688,81,655,7,2776,4,7,30,32..."
3,ORF1ab,TTC,TTT,3037,F,924,F,3375,2020-03-04,2020-12-29,...,2021-01-11,2727.0,"'s-Gravenwezel,A Coruna,Aarschot,Aartselaar,Ab...","1,15,3,1,7,2,8,1,1,10,1,1,1,2,12,8,197,1,1,1,3...",1063.0,"Aalst,Aargau,Abruzzo,Abu Dhabi,Abuja,Aceh,Acre...","5,384,110,774,17,2,1,1,2,1,1,44,11,50,1,18,2,3...",131.0,"Algeria,Andorra,Antigua and Barbuda,Argentina,...","17,1,1,459,9,15057,679,124,664,5,2777,4,7,30,3..."
4,5UTR,CGT,TGT,241,R,81,C,3348,2020-03-04,2020-12-29,...,2021-01-08,2708.0,"'s-Gravenwezel,A Coruna,Aarschot,Aartselaar,Ab...","1,15,3,1,7,2,8,1,1,10,1,1,1,2,10,7,197,1,1,1,3...",1055.0,"Aalst,Aargau,Abruzzo,Abu Dhabi,Abuja,Aceh,Acre...","5,381,107,835,17,2,1,1,2,1,44,1,11,50,18,2,30,...",130.0,"Algeria,Antigua and Barbuda,Argentina,Aruba,Au...","17,1,475,9,13227,688,124,665,7,2771,4,7,30,31,..."
6,N,TCA,TTA,28854,S,194,L,1654,2020-03-23,2020-12-17,...,2021-01-06,369.0,"Ahmedabad,Alachua County,Alameda County,Albany...","120,5,173,40,4,1,20,1,2,1,3,1,1,1,1,1,3,8,1,2,...",317.0,"Aargau,Abu Dhabi,Agder,Aguascalientes,Aksaray,...","21,13,16,4,1,3,7,52,1,4,4,1,7,2,426,1,4,4,44,2...",72.0,"Algeria,Aruba,Australia,Austria,Bahrain,Bangla...","4,4,141,1,3,41,3,36,8,244,2,17,11,3,1,1,1861,1..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4977,ORF1ab,GTG,TTG,15908,V,5215,L,1,2020-12-14,2020-12-14,...,2020-12-21,8.0,"Caddo Parish,Dallas County,Greater Houston Are...","12,1,1,1,8,1,3,32",18.0,"Aargau,California,Colorado,England,Friesland,G...","1,1,3,10,1,5,1,15,1,1,1,1,3,1,10,1,1,2",6.0,"Brazil,Finland,Netherlands,Switzerland,USA,Uni...","1,1,11,5,30,11"
4978,ORF1ab,ATA,ACA,6954,I,2230,T,1,2020-12-29,2020-12-29,...,2021-01-08,47.0,"Amiens,Ancona,Anglet,Bari,Beit Shemesh,Bnei Br...","1,1,2,3,5,3,1,1,3,1,1,1,1,1,1,7,1,3,1,1,1,1,2,...",107.0,"Abruzzo,Agder,Andhra Pradesh,Apulia,Athens,Auc...","5,1,1,8,3,15,1,1,3,1,1,2,30,8,1,2,1,1,1,1,1,38...",37.0,"Australia,Belgium,Brazil,Canada,Denmark,Ecuado...","20,6,4,1,124,2,14,14,1,8,3,3,7,49,61,32,1,3,1,..."
4980,ORF1ab,GTG,TTG,18677,V,6138,L,1,2020-05-12,2020-05-12,...,2021-01-07,7.0,"Greater Houston Area,Houston,Los Angeles Count...","5,7,1,1,1,2,36",15.0,"Ben Arous,California,Catalunya,Dhaka,England,L...","1,2,1,2,22,1,2,1,3,1,2,1,12,1,1",9.0,"Algeria,Bangladesh,Brazil,India,Singapore,Spai...","1,4,1,1,1,1,1,17,26"
4981,ORF1ab,ATA,ACA,1104,I,280,T,1,2020-09-04,2020-09-04,...,2020-12-30,5.0,"Houston,Imperial County,Manhattan,San Diego,unk","2,1,1,1,19",9.0,"Abu Dhabi,California,England,Gelderland,Maryla...","8,2,4,1,1,1,4,2,1",4.0,"Netherlands,USA,United Arab Emirates,United Ki...","1,7,8,8"
4982,ORF1ab,TGA,TTA,20853,_,6863,L,1,2020-09-04,2020-09-04,...,2020-12-22,10.0,"Accra,Bari,Ekeren,Greater Houston Area,Haro,Hi...","1,1,1,2,1,7,1,1,1,34",16.0,"Antwerpen,Apulia,California,England,Greater Ac...","1,1,1,13,1,2,1,12,1,1,1,1,1,10,2,1",14.0,"Belgium,Brazil,Denmark,Germany,Ghana,Israel,It...","1,1,1,1,1,2,1,12,2,1,1,1,12,13"

In [23]:
all_subs[all_subs['codon_num']==614]

,gene,ref_codon,alt_codon,pos,ref_aa,codon_num,alt_aa,num_samples,first_detected,last_detected,...,gisaid_last_detected,gisaid_num_locations,gisaid_location_counts,gisaid_num_states,gisaid_state_counts,gisaid_num_countries,gisaid_country_counts,gisaid_states,gisaid_countries,gisaid_locations
2,S,GAT,GGT,23403,D,614,G,99,2020-03-23,2020-12-01,...,2021-01-11,2739,"1,15,3,1,7,2,8,1,1,1,10,1,1,1,2,12,8,196,1,1,1...",1075,"5,387,110,831,17,2,1,1,2,1,1,44,11,50,1,18,2,3...",131,"17,1,1,472,9,15066,692,126,686,7,2777,4,8,30,3...","Aalst,Aargau,Abruzzo,Abu Dhabi,Abuja,Aceh,Acre...","Algeria,Andorra,Antigua and Barbuda,Argentina,...","'s-Gravenwezel,A Coruna,Aarschot,Aartselaar,Ab..."

In [34]:
gisaid_dels = bm.identify_deletions(gisaid_msa, gisaid_meta, min_del_len=1, data_src='gisaid')

/home/al/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3418: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [37]:
# gisaid_dels.sort_values('num_samples', ascending=False)

In [38]:
gisaid_dels.to_csv(out_dir/f'gisaid_deletions_agg_{date}.csv', index=False, compression='gzip')

In [39]:
gisaid_dels = pd.read_csv(out_dir/f'gisaid_deletions_agg_{date}.csv', compression='gzip')

In [40]:
gisaid_dels = (gisaid_dels.rename(columns={'num_samples': 'gisaid_num_samples', 'first_detected': 'gisaid_1st_detected', 'last_detected': 'gisaid_last_detected',
                                   'locations': 'gisaid_locations', 'location_counts': 'gisaid_location_counts',
                                   'divisions': 'gisaid_states', 'division_counts': 'gisaid_state_counts',
                                   'countries': 'gisaid_countries', 'country_counts': 'gisaid_country_counts'})
               .drop(columns=['ref_aa', 'pos', 'type', 'ref_codon', 'prev_5nts', 'next_5nts', 'relative_coords', 'del_len']))

In [41]:
dels = pd.read_csv(out_dir/f'alab_deletions_wide_{date}.csv')

In [42]:
# dels = pd.read_csv(out_dir/'deletions_aggregated.csv')
all_dels = pd.merge(dels, gisaid_dels, on=['gene', 'codon_num', 'absolute_coords'], how='left').drop_duplicates(subset=['gene', 'codon_num', 'absolute_coords'])

In [44]:
cols = ['type', 'gene', 'absolute_coords', 'del_len', 'pos', 
                 'ref_aa', 'codon_num', 'num_samples',
                 'first_detected', 'last_detected', 'locations',
                 'location_counts', 'gisaid_num_samples',
                 'gisaid_1st_detected', 'gisaid_last_detected', 'gisaid_countries', 'gisaid_country_counts',
                 'gisaid_states', 'gisaid_state_counts', 'gisaid_locations', 'gisaid_location_counts', 'samples',
                 'ref_codon', 'prev_5nts', 'next_5nts'
                 ]
all_dels[cols].sort_values('num_samples', ascending=False).to_csv(out_dir/f'alab_deletions_{date}.csv', index=False)

In [37]:
all_dels[cols].sort_values('num_samples', ascending=False).to_excel(out_dir/f'jordan_deletions_{date}.xlsx', index=False)

In [48]:
df = pd.read_csv('/home/al/code/HCoV-19-Genomics/variants/deletions_13-01-2021.csv')
df.head()['samples']

0    SEARCH-3903-JOR,SEARCH-3906-JOR,SEARCH-3930-JO...
1    SEARCH-2285-SAN,SEARCH-2286-SAN,SEARCH-2366-SA...
2    SEARCH-0264-NBG,SEARCH-0306-NBG,SEARCH-0518-SA...
3    SEARCH-4415-SAN,SEARCH-4448-SAN,SEARCH-4467-SA...
4    SEARCH-2907-SAN,SEARCH-2913-SAN,SEARCH-2926-SA...
Name: samples, dtype: object

In [6]:
df = pd.read_csv(gisaid_meta, sep='\t')
df.columns

/home/al/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

Index(['strain', 'virus', 'gisaid_epi_isl', 'genbank_accession', 'date',
       'region', 'country', 'division', 'location', 'region_exposure',
       'country_exposure', 'division_exposure', 'segment', 'length', 'host',
       'age', 'sex', 'Nextstrain_clade', 'pangolin_lineage', 'GISAID_clade',
       'originating_lab', 'submitting_lab', 'authors', 'url', 'title',
       'paper_url', 'date_submitted'],
      dtype='object')

In [7]:
df['virus'].unique()

array(['ncov'], dtype=object)

In [8]:
df.drop_duplicates(subset=['strain'], inplace=True)
df = df[df['host']=='Human']

In [9]:
df['submitting_lab'].value_counts()[:15]

COVID-19 Genomics UK (COG-UK) Consortium                                              53427
Wellcome Sanger Institute for the COVID-19 Genomics UK (COG-UK) consortium            50613
Wellcome Sanger Institute for the COVID-19 Genomics UK (COG-UK) Consortium            28625
Albertsen Lab, Department of Chemistry and Bioscience, Aalborg University, Denmark    13220
MDU-PHL                                                                               10010
Pathogen Genomics Center, National Institute of Infectious Diseases                    9394
Albertsen lab, Department of Chemistry and Bioscience, Aalborg University, Denmark     8983
Respiratory Virus Unit, Microbiology Services Colindale, Public Health England         5348
Houston Methodist Hospital                                                             5085
SeqCOVID-SPAIN consortium/IBV(CSIC)                                                    4555
Utah Public Health Laboratory                                                          4183
Chan-Zuckerberg Biohub                                                                 3976
Department of Biosystems Science and Engineering, ETH Zürich                           3838
Erasmus Medical Center                                                                 3585
Andersen lab at Scripps Research                                                       3344
Name: submitting_lab, dtype: int64